
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Lugrasimo&family=Lumanosimo&family=Playfair+Display:wght@400;600&family=Roboto+Slab&display=swap');

*{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Lugrasimo', cursive;
    font-family: 'Lumanosimo', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
}

.bannerbgimg{
    height: 100vh;
    background-image: url("../images/banner2.jpg");
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:black;
}

.bannerTitle{
    font-size: 4rem;
    color:black;
}

.bannerDesc{
    font-size: 3rem;
}

.card{
    cursor:pointer;
    top: 10%;
    bottom: 10%;
}
.card-text{
    font-family: 'Lucida Sans';
}
.card-title{
    font-family: Arial, Helvetica, sans-serif;
}
.cycerti{
    background-color:black;
    border: 1px solid burlywood;
    color:beige;
    text-align: center;

}

.card:hover{
    background-color: #afeeee;
    border: 2px solid #3700ff;
}

.BIcon{
    width: 100px;
    text-align:center;
    font-size: 40px;
}

.img-fluid:hover{
    border: 3px solid #0800ff;

}

.card-img-top{
    max-height: fit-content;
    max-width: fit-content;
    /*grid-row: 2/3;
    grid-column: 2/3;*/
    margin: 0 auto;
}
